POSTGRES_USER=agiletrack_user
POSTGRES_PASSWORD=agiletrack_password
POSTGRES_DB=agiletrack
JWT_SECRET=c2VjcmV0S2V5Rm9yQWdpbGVUcmFja0FwcGxpY2F0aW9uVGVzdGluZ1B1cnBvc2VzMzJCeXRlc01pbmltdW0=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
FRONTEND_ORIGIN=http://localhost
